# NASDAQ Data Exploration

In [1]:
import pandas as pd
from pandas import Series
from pandas.plotting import autocorrelation_plot
import matplotlib.pyplot as plt
from statsmodels.tsa.arima_model import ARIMA


from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()

In [2]:
import warnings
import itertools
import numpy as np
warnings.filterwarnings("ignore")
plt.style.use('fivethirtyeight')

import statsmodels.api as sm
import matplotlib
matplotlib.rcParams['axes.labelsize'] = 18
matplotlib.rcParams['xtick.labelsize'] = 16
matplotlib.rcParams['ytick.labelsize'] = 16
matplotlib.rcParams['text.color'] = 'k'

Load NASDAQ file into DataFrame

In [3]:
nasdaq = "NASDAQ.csv"
df_nasdaq = pd.read_csv(nasdaq)

In [4]:
#drop uneccesary columns

df_nasdaq.drop('High', axis = 1, inplace = True)
df_nasdaq.drop('Low', axis = 1, inplace = True)
df_nasdaq.drop('Volume', axis = 1, inplace = True)

In [5]:
#check  dataframe
print(df_nasdaq)

             Date         Open        Close    Adj Close
0      1971-02-05   100.000000   100.000000   100.000000
1      1971-02-08   100.839996   100.839996   100.839996
2      1971-02-09   100.760002   100.760002   100.760002
3      1971-02-10   100.690002   100.690002   100.690002
4      1971-02-11   101.449997   101.449997   101.449997
5      1971-02-12   102.050003   102.050003   102.050003
6      1971-02-16   102.190002   102.190002   102.190002
7      1971-02-17   101.739998   101.739998   101.739998
8      1971-02-18   101.419998   101.419998   101.419998
9      1971-02-19   100.699997   100.699997   100.699997
10     1971-02-22    99.680000    99.680000    99.680000
11     1971-02-23    99.720001    99.720001    99.720001
12     1971-02-24   100.639999   100.639999   100.639999
13     1971-02-25   101.230003   101.230003   101.230003
14     1971-02-26   101.339996   101.339996   101.339996
15     1971-03-01   101.779999   101.779999   101.779999
16     1971-03-02   101.839996   101.839996   101.839996
17     1971-03-03   102.070000   102.070000   102.070000
18     1971-03-04   102.779999   102.779999   102.779999
19     1971-03-05   103.000000   103.000000   103.000000
20     1971-03-08   104.230003   104.230003   104.230003
21     1971-03-09   104.410004   104.410004   104.410004
22     1971-03-10   104.139999   104.139999   104.139999
23     1971-03-11   104.260002   104.260002   104.260002
24     1971-03-12   104.500000   104.500000   104.500000
25     1971-03-15   105.129997   105.129997   105.129997
26     1971-03-16   105.559998   105.559998   105.559998
27     1971-03-17   105.500000   105.500000   105.500000
28     1971-03-18   105.879997   105.879997   105.879997
29     1971-03-19   105.769997   105.769997   105.769997
...           ...          ...          ...          ...
12138  2019-03-22  7800.250000  7642.669922  7642.669922
12139  2019-03-25  7618.979980  7637.540039  7637.540039
12140  2019-03-26  7700.000000  7691.520020  7691.520020
12141  2019-03-27  7702.049805  7643.379883  7643.379883
12142  2019-03-28  7660.069824  7669.169922  7669.169922
12143  2019-03-29  7726.709961  7729.319824  7729.319824
12144  2019-04-01  7800.240234  7828.910156  7828.910156
12145  2019-04-02  7824.609863  7848.689941  7848.689941
12146  2019-04-03  7891.180176  7895.549805  7895.549805
12147  2019-04-04  7894.259766  7891.779785  7891.779785
12148  2019-04-05  7914.509766  7938.689941  7938.689941
12149  2019-04-08  7924.890137  7953.879883  7953.879883
12150  2019-04-09  7924.770020  7909.279785  7909.279785
12151  2019-04-10  7922.729980  7964.240234  7964.240234
12152  2019-04-11  7975.200195  7947.359863  7947.359863
12153  2019-04-12  7984.149902  7984.160156  7984.160156
12154  2019-04-15  7987.160156  7976.009766  7976.009766
12155  2019-04-16  8000.569824  8000.229980  8000.229980
12156  2019-04-17  8044.970215  7996.080078  7996.080078
12157  2019-04-18  7998.450195  7998.060059  7998.060059
12158  2019-04-22  7969.370117  8015.270020  8015.270020
12159  2019-04-23  8026.750000  8120.819824  8120.819824
12160  2019-04-24  8122.879883  8102.009766  8102.009766
12161  2019-04-25  8150.850098  8118.680176  8118.680176
12162  2019-04-26  8100.279785  8146.399902  8146.399902
12163  2019-04-29  8147.649902  8161.850098  8161.850098
12164  2019-04-30  8104.910156  8095.390137  8095.390137
12165  2019-05-01  8132.930176  8049.640137  8049.640137
12166  2019-05-02  8046.479980  8036.770020  8036.770020
12167  2019-05-03  8092.879883  8164.000000  8164.000000

[12168 rows x 4 columns]

Drop empty Columns

In [6]:
null_open = any(df_nasdaq['Open'].isnull())
if null_open:
    print("Removing null entries from Open Stocks")
    df_nasdaq = df_nasdaq.dropna()  
    
assert not null_open

In [7]:
null_close= any(df_nasdaq['Close'].isnull())
if null_close:
    print("Removing null entries from Close Stocks")
    df_nasdaq = df_nasdaq.dropna()  
    
assert not null_close

In [8]:
null_adjclose= any(df_nasdaq['Adj Close'].isnull())
if null_adjclose:
    print("Removing null entries from Adj Close Stocks")
    df_nasdaq = df_nasdaq.dropna()  
    
assert not null_adjclose

In [ ]:
df_nasdaq.describe()

               Open         Close     Adj Close
count  12168.000000  12168.000000  12168.000000
mean    1633.183298   1632.965611   1632.965611
std     1807.721775   1807.523459   1807.523459
min       54.869999     54.869999     54.869999
25%      237.900002    237.900002    237.900002
50%      798.429993    799.279999    799.279999
75%     2388.755005   2380.719910   2380.719910
max     8150.850098   8164.000000   8164.000000

In [ ]:
#setting index as date
df_nasdaq.set_index('Date', inplace = True)
print(df_nasdaq.index)

Index(['1971-02-05', '1971-02-08', '1971-02-09', '1971-02-10', '1971-02-11',
       '1971-02-12', '1971-02-16', '1971-02-17', '1971-02-18', '1971-02-19',
       ...
       '2019-04-22', '2019-04-23', '2019-04-24', '2019-04-25', '2019-04-26',
       '2019-04-29', '2019-04-30', '2019-05-01', '2019-05-02', '2019-05-03'],
      dtype='object', name='Date', length=12168)

In [ ]:
plt.figure(figsize=(20, 10))
plt.plot(df_nasdaq.index, df_nasdaq['Open'])
#df_nasdaq['Open'].plot(figsize=(15, 6))
plt.xlabel('Date')
plt.ylabel('Stock Price')
plt.show()

In [ ]:
plt.figure(figsize=(20, 10))
plt.plot(df_nasdaq.index, df_nasdaq['Close'])

#df_nasdaq['Open'].plot(figsize=(15, 6))
plt.xlabel('Date')
plt.ylabel('Stock Price')
plt.show()

In [ ]:
plt.figure(figsize=(20, 10))
plt.plot(df_nasdaq.index, df_nasdaq['Adj Close'])

#df_nasdaq['Open'].plot(figsize=(15, 6))
plt.xlabel('Date')
plt.ylabel('Stock Price')
plt.show()

In [ ]:
autocorrelation_plot(df_nasdaq['Open'])

In [ ]:
autocorrelation_plot(df_nasdaq['Close'])

In [ ]:
autocorrelation_plot(df_nasdaq['Adj Close'])

In [ ]:
#code idea from https://www.machinelearningplus.com/time-series/arima-model-time-series-forecasting-python/
from statsmodels.tsa.stattools import adfuller
from numpy import log
result = adfuller(df_nasdaq['Open'].dropna())
print('ADF Statistic: %f' % result[0])
print('p-value: %f' % result[1])

In [ ]:
#code idea from https://www.machinelearningplus.com/time-series/arima-model-time-series-forecasting-python/
import numpy as np, pandas as pd
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf
import matplotlib.pyplot as plt
plt.rcParams.update({'figure.figsize':(15,7), 'figure.dpi':120})

fig, axes = plt.subplots(3, 2, sharex=True)
axes[0, 0].plot(df_nasdaq['Open']); axes[0, 0].set_title('Original Series')
plot_acf(df_nasdaq['Open'], ax=axes[0, 1])

# 1st Differencing
axes[1, 0].plot(df_nasdaq['Open'].diff()); axes[1, 0].set_title('1st Order Differencing')
plot_acf(df_nasdaq['Open'].diff().dropna(), ax=axes[1, 1])

plt.show()

In [ ]:
series = Series.df_nasdaq['Open']
series.plot()
pyplot.show()

In [ ]:
#model = ARIMA(df_nasdaq['Open'], order=(,,), dates=df_nasdaq.index)
#model_ARIMA = model.fit()
#print(model_ARIMA.summary())

In [ ]:
#residuals = DataFrame(model_ARIMA.resid)
#residuals.plot()
#pyplot.show()
#residuals.plot(kind='kde')
#pyplot.show()
#print(residuals.describe())