In [2]:
import pandas as pd

In [84]:
df_dji = pd.read_csv("DJI.csv")  ## Read

In [80]:
file = pd.ExcelFile("GAS.xls")   ## Load the gas database
## file.sheet_names ##           ##This helped me narrow down the database from the download sheet
df_gas= file.parse('Data 1', header=2, ncolumns=2) # Parse the file, saving as our database
df_gas.drop(['U.S. All Grades Conventional Retail Gasoline Prices (Dollars per Gallon)',
           'U.S. All Grades Reformulated Retail Gasoline Prices (Dollars per Gallon)',
           'U.S. Regular All Formulations Retail Gasoline Prices (Dollars per Gallon)',
           'U.S. Regular Conventional Retail Gasoline Prices (Dollars per Gallon)',
           'U.S. Regular Reformulated Retail Gasoline Prices (Dollars per Gallon)',
           'U.S. Midgrade All Formulations Retail Gasoline Prices (Dollars per Gallon)',
           'U.S. Midgrade Conventional Retail Gasoline Prices (Dollars per Gallon)',
           'U.S. Midgrade Reformulated Retail Gasoline Prices (Dollars per Gallon)',
           'U.S. Premium All Formulations Retail Gasoline Prices (Dollars per Gallon)',
           'U.S. Premium Conventional Retail Gasoline Prices (Dollars per Gallon)',
           'U.S. Premium Reformulated Retail Gasoline Prices (Dollars per Gallon)',
           'U.S. No 2 Diesel Retail Prices (Dollars per Gallon)',
           'U.S. No 2 Diesel Ultra Low Sulfur (0-15 ppm) Retail Prices (Dollars per Gallon)',
           'U.S. No 2 Diesel Low Sulfur (15-500 ppm) Retail Prices (Dollars per Gallon)'],
           axis = 1, inplace = True)
## I dropped all useless columns

In [81]:
file.sheet_names

['Contents', 'Data 1']

In [30]:
import pandas as pd
import datetime

df_dji = pd.read_csv("data/DJI.csv") ## Reading DJI
df_sp500 = pd.read_csv('data/S&P500.csv')
file = pd.ExcelFile("data/GAS.xls")   ## Load the gas prices database

#Column selection
df_gas= file.parse('Data 1', header=2, ncolumns=2) # Parse the file, saving as our database
df_gas = df_gas[['Date', 'Weekly U.S. All Grades All Formulations Retail Gasoline Prices  (Dollars per Gallon)']]
df_gas = df_gas.rename(index=str, columns={"Weekly U.S. All Grades All Formulations Retail Gasoline Prices  (Dollars per Gallon)": "gas_price"})
df_gas['Date'] = df_gas.Date + pd.offsets.MonthBegin(1) #setting date from the 15th to the 1st

#Stocks
df_dji = df_dji[['Date', 'Close']]
df_sp500 = df_sp500[['Date', 'Close']]

#Dropping NaN values
df_gas.dropna(axis=0, inplace=True)
df_sp500.dropna(axis=0, inplace=True)
df_dji.dropna(axis=0, inplace=True)

#Converting dates from string to datetime
df_dji['Date'] = pd.to_datetime(df_dji.Date)
df_sp500['Date'] = pd.to_datetime(df_sp500.Date)

#merging
#df = df_dji.merge(df_sp500, how='inner', on='Date')
#df = df.merge(df_gas, how='inner', on='Date')

print(len(df_sp500))

17441

In [31]:
df_sp500

            Date        Close
0     1950-01-03    16.660000
1     1950-01-04    16.850000
2     1950-01-05    16.930000
3     1950-01-06    16.980000
4     1950-01-09    17.080000
5     1950-01-10    17.030001
6     1950-01-11    17.090000
7     1950-01-12    16.760000
8     1950-01-13    16.670000
9     1950-01-16    16.719999
10    1950-01-17    16.860001
11    1950-01-18    16.850000
12    1950-01-19    16.870001
13    1950-01-20    16.900000
14    1950-01-23    16.920000
15    1950-01-24    16.860001
16    1950-01-25    16.740000
17    1950-01-26    16.730000
18    1950-01-27    16.820000
19    1950-01-30    17.020000
20    1950-01-31    17.049999
21    1950-02-01    17.049999
22    1950-02-02    17.230000
23    1950-02-03    17.290001
24    1950-02-06    17.320000
25    1950-02-07    17.230000
26    1950-02-08    17.209999
27    1950-02-09    17.280001
28    1950-02-10    17.240000
29    1950-02-14    17.059999
...          ...          ...
17411 2019-03-15  2822.479980
17412 2019-03-18  2832.939941
17413 2019-03-19  2832.570068
17414 2019-03-20  2824.229980
17415 2019-03-21  2854.879883
17416 2019-03-22  2800.709961
17417 2019-03-25  2798.360107
17418 2019-03-26  2818.459961
17419 2019-03-27  2805.370117
17420 2019-03-28  2815.439941
17421 2019-03-29  2834.399902
17422 2019-04-01  2867.189941
17423 2019-04-02  2867.239990
17424 2019-04-03  2873.399902
17425 2019-04-04  2879.389893
17426 2019-04-05  2892.739990
17427 2019-04-08  2895.770020
17428 2019-04-09  2878.199951
17429 2019-04-10  2888.209961
17430 2019-04-11  2888.320068
17431 2019-04-12  2907.409912
17432 2019-04-15  2905.580078
17433 2019-04-16  2907.060059
17434 2019-04-17  2900.449951
17435 2019-04-18  2905.030029
17436 2019-04-22  2907.969971
17437 2019-04-23  2933.679932
17438 2019-04-24  2927.250000
17439 2019-04-25  2926.169922
17440 2019-04-26  2939.879883

[17441 rows x 2 columns]

In [4]:
file = pd.ExcelFile("data/GAS.xls")   ## Load the gas prices database

#Column selection
df_gas= file.parse('Data 1', header=2, ncolumns=2) # Parse the file, saving as our database

In [9]:
df_gas = df_gas[['Date', 'Weekly U.S. All Grades All Formulations Retail Gasoline Prices  (Dollars per Gallon)']]

In [16]:
df_gas = df_gas.rename(index=str, columns={"Weekly U.S. All Grades All Formulations Retail Gasoline Prices  (Dollars per Gallon)": "gas_price"})

In [20]:
len(df_dji)

412