In [21]:
import pandas as pd

In [24]:
df_dji = pd.read_csv("data/DJI.csv")  ## Read

,Date,Open,High,Low,Close,Adj Close,Volume
0,1985-01-29,1277.719971,1295.489990,1266.890015,1292.619995,1292.619995,13560000
1,1985-01-30,1297.369995,1305.099976,1278.930054,1287.880005,1287.880005,16820000
2,1985-01-31,1283.239990,1293.400024,1272.640015,1286.770020,1286.770020,14070000
3,1985-02-01,1276.939941,1286.109985,1269.770020,1277.719971,1277.719971,10980000
4,1985-02-04,1272.079956,1294.939941,1268.989990,1290.079956,1290.079956,11630000
5,1985-02-05,1294.060059,1301.130005,1278.599976,1285.229980,1285.229980,13800000
6,1985-02-06,1284.890015,1294.500000,1275.069946,1280.589966,1280.589966,14610000
7,1985-02-07,1285.000000,1297.040039,1279.810059,1290.079956,1290.079956,11440000
8,1985-02-08,1290.079956,1297.150024,1281.359985,1289.969971,1289.969971,8000000
9,1985-02-11,1287.989990,1291.739990,1268.660034,1276.060059,1276.060059,12600000
10,1985-02-12,1271.199951,1283.130005,1266.339966,1276.609985,1276.609985,11870000
11,1985-02-13,1277.829956,1304.660034,1274.510010,1297.920044,1297.920044,14050000
12,1985-02-14,1301.790039,1307.530029,1283.680054,1287.880005,1287.880005,14020000
13,1985-02-15,1289.199951,1296.270020,1275.069946,1282.020020,1282.020020,8730000
14,1985-02-19,1279.810059,1287.430054,1273.520020,1280.589966,1280.589966,6690000
15,1985-02-20,1280.150024,1292.510010,1272.530029,1283.130005,1283.130005,10760000
16,1985-02-21,1280.369995,1287.099976,1272.640015,1279.040039,1279.040039,8600000
17,1985-02-22,1277.939941,1286.550049,1269.989990,1275.839966,1275.839966,8500000
18,1985-02-25,1269.989990,1283.130005,1263.910034,1277.500000,1277.500000,8420000
19,1985-02-26,1276.280029,1293.180054,1272.310059,1286.109985,1286.109985,11910000
20,1985-02-27,1285.670044,1295.270020,1274.400024,1281.030029,1281.030029,11900000
21,1985-02-28,1278.050049,1288.319946,1271.420044,1284.010010,1284.010010,8790000
22,1985-03-01,1285.339966,1309.959961,1282.689941,1299.359985,1299.359985,14730000
23,1985-03-04,1299.910034,1304.550049,1283.130005,1289.530029,1289.530029,12010000
24,1985-03-05,1290.079956,1300.020020,1281.030029,1291.849976,1291.849976,10060000
25,1985-03-06,1291.849976,1296.930054,1275.510010,1280.369995,1280.369995,10990000
26,1985-03-07,1276.829956,1283.239990,1265.459961,1271.530029,1271.530029,9870000
27,1985-03-08,1273.410034,1280.810059,1264.130005,1269.660034,1269.660034,9120000
28,1985-03-11,1268.770020,1277.050049,1260.930054,1268.550049,1268.550049,7710000
29,1985-03-12,1267.560059,1279.479980,1262.479980,1271.750000,1271.750000,8340000
...,...,...,...,...,...,...,...
8606,2019-03-22,25844.650391,25877.009766,25501.449219,25502.320313,25502.320313,386510000
8607,2019-03-25,25490.720703,25603.269531,25372.259766,25516.830078,25516.830078,303120000
8608,2019-03-26,25649.560547,25796.289063,25544.779297,25657.730469,25657.730469,305110000
8609,2019-03-27,25676.339844,25758.169922,25425.269531,25625.589844,25625.589844,270340000
8610,2019-03-28,25693.320313,25743.410156,25576.689453,25717.460938,25717.460938,237170000
8611,2019-03-29,25827.310547,25949.320313,25771.669922,25928.679688,25928.679688,300620000
8612,2019-04-01,26075.099609,26280.900391,26071.689453,26258.419922,26258.419922,295570000
8613,2019-04-02,26213.550781,26221.240234,26122.310547,26179.130859,26179.130859,250940000
8614,2019-04-03,26238.029297,26282.169922,26138.470703,26218.130859,26218.130859,271980000
8615,2019-04-04,26213.419922,26398.900391,26212.779297,26384.630859,26384.630859,233040000
8616,2019-04-05,26427.560547,26487.570313,26370.820313,26424.990234,26424.990234,229550000
8617,2019-04-08,26312.669922,26344.650391,26246.029297,26341.019531,26341.019531,229380000
8618,2019-04-09,26243.539063,26246.339844,26103.140625,26150.580078,26150.580078,244410000
8619,2019-04-10,26173.710938,26209.490234,26101.240234,26157.160156,26157.160156,203130000
8620,2019-04-11,26188.210938,26229.880859,26062.589844,26143.050781,26143.050781,211680000
8621,2019-04-12,26357.789063,26436.679688,26309.720703,26412.300781,26412.300781,369910000
8622,2019-04-15,26407.759766,26424.849609,26316.419922,26384.769531,26384.769531,250620000
8623,2019-04-16,26482.189453,26530.710938,26397.189453,26452.660156,26452.660156,302340000
8624,2019-04-17,26468.529297,26501.019531,26391.859375,26449.539063,26449.539063,367780000
8625,2019-04-18,26463.369141,26602.419922,26444.529297,26559.539063,26559.539063,332850000
8626,2019-04-22,26510.769531,26553.050781,26458.609375,26511.050781,26511.050781,232570000
8627,2019-04-23,26513.830078,26695.960938,26503.560547,26656.390625,26656.390625,311690000
8628,2019-04-24,26652.560547,26680.580078,26582.859375,26597.050781,26597.050781,283370000
8629,2019-04-25,26426.369141,26536.480469,26310.279297,26462.080078,26462.080078,296730000
8630,2019-04-26,26454.619141,26543.560547,26392.550781,26543.330078,26543.330078,317290000
8631,2019-04-29,26559.869141,26602.539063,26520.750000,26554.390625,26554.390625,279450000
8632,2019-04-30,26594.560547,26614.039063,26419.470703,26592.910156,26592.910156,340320000
8633,2019-05-01,26639.060547,26689.390625,26426.380859,26430.140625,26430.140625,303850000
8634,2019-05-02,26407.150391,26454.689453,26180.359375,26307.789063,26307.789063,287610000
8635,2019-05-03,26379.140625,26534.960938,26370.089844,26504.949219,26504.949219,248900000

In [23]:
file = pd.ExcelFile("data/GAS.xls")   ## Load the gas database
## file.sheet_names ##           ##This helped me narrow down the database from the download sheet
df_gas= file.parse('Data 1', header=2, ncolumns=2) # Parse the file, saving as our database
df_gas.drop(['U.S. All Grades Conventional Retail Gasoline Prices (Dollars per Gallon)',
           'U.S. All Grades Reformulated Retail Gasoline Prices (Dollars per Gallon)',
           'U.S. Regular All Formulations Retail Gasoline Prices (Dollars per Gallon)',
           'U.S. Regular Conventional Retail Gasoline Prices (Dollars per Gallon)',
           'U.S. Regular Reformulated Retail Gasoline Prices (Dollars per Gallon)',
           'U.S. Midgrade All Formulations Retail Gasoline Prices (Dollars per Gallon)',
           'U.S. Midgrade Conventional Retail Gasoline Prices (Dollars per Gallon)',
           'U.S. Midgrade Reformulated Retail Gasoline Prices (Dollars per Gallon)',
           'U.S. Premium All Formulations Retail Gasoline Prices (Dollars per Gallon)',
           'U.S. Premium Conventional Retail Gasoline Prices (Dollars per Gallon)',
           'U.S. Premium Reformulated Retail Gasoline Prices (Dollars per Gallon)',
           'U.S. No 2 Diesel Retail Prices (Dollars per Gallon)',
           'U.S. No 2 Diesel Ultra Low Sulfur (0-15 ppm) Retail Prices (Dollars per Gallon)',
           'U.S. No 2 Diesel Low Sulfur (15-500 ppm) Retail Prices (Dollars per Gallon)'],
           axis = 1, inplace = True)
## I dropped all useless columns

KeyError: "['U.S. All Grades Conventional Retail Gasoline Prices (Dollars per Gallon)'\n 'U.S. All Grades Reformulated Retail Gasoline Prices (Dollars per Gallon)'\n 'U.S. Regular All Formulations Retail Gasoline Prices (Dollars per Gallon)'\n 'U.S. Regular Conventional Retail Gasoline Prices (Dollars per Gallon)'\n 'U.S. Regular Reformulated Retail Gasoline Prices (Dollars per Gallon)'\n 'U.S. Midgrade All Formulations Retail Gasoline Prices (Dollars per Gallon)'\n 'U.S. Midgrade Conventional Retail Gasoline Prices (Dollars per Gallon)'\n 'U.S. Midgrade Reformulated Retail Gasoline Prices (Dollars per Gallon)'\n 'U.S. Premium All Formulations Retail Gasoline Prices (Dollars per Gallon)'\n 'U.S. Premium Conventional Retail Gasoline Prices (Dollars per Gallon)'\n 'U.S. Premium Reformulated Retail Gasoline Prices (Dollars per Gallon)'\n 'U.S. No 2 Diesel Retail Prices (Dollars per Gallon)'\n 'U.S. No 2 Diesel Ultra Low Sulfur (0-15 ppm) Retail Prices (Dollars per Gallon)'\n 'U.S. No 2 Diesel Low Sulfur (15-500 ppm) Retail Prices (Dollars per Gallon)'] not found in axis"

In [18]:
file.sheet_names

['Contents', 'Data 1']

In [20]:
df_gas.head(5)

,Date,Weekly U.S. All Grades All Formulations Retail Gasoline Prices (Dollars per Gallon),Weekly U.S. All Grades Conventional Retail Gasoline Prices (Dollars per Gallon),Weekly U.S. All Grades Reformulated Retail Gasoline Prices (Dollars per Gallon),Weekly U.S. Regular All Formulations Retail Gasoline Prices (Dollars per Gallon),Weekly U.S. Regular Conventional Retail Gasoline Prices (Dollars per Gallon),Weekly U.S. Regular Reformulated Retail Gasoline Prices (Dollars per Gallon),Weekly U.S. Midgrade All Formulations Retail Gasoline Prices (Dollars per Gallon),Weekly U.S. Midgrade Conventional Retail Gasoline Prices (Dollars per Gallon),Weekly U.S. Midgrade Reformulated Retail Gasoline Prices (Dollars per Gallon),Weekly U.S. Premium All Formulations Retail Gasoline Prices (Dollars per Gallon),Weekly U.S. Premium Conventional Retail Gasoline Prices (Dollars per Gallon),Weekly U.S. Premium Reformulated Retail Gasoline Prices (Dollars per Gallon),Weekly U.S. No 2 Diesel Retail Prices (Dollars per Gallon),Weekly U.S. No 2 Diesel Ultra Low Sulfur (0-15 ppm) Retail Prices (Dollars per Gallon),Weekly U.S. No 2 Diesel Low Sulfur (15-500 ppm) Retail Prices (Dollars per Gallon)
0,1990-08-20,NaN,NaN,NaN,1.191,1.191,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1990-08-27,NaN,NaN,NaN,1.245,1.245,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1990-09-03,NaN,NaN,NaN,1.242,1.242,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1990-09-10,NaN,NaN,NaN,1.252,1.252,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1990-09-17,NaN,NaN,NaN,1.266,1.266,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
import pandas as pd
import datetime

df_dji = pd.read_csv("data/DJI.csv") ## Reading DJI
df_sp500 = pd.read_csv('data/S&P500.csv')
file = pd.ExcelFile("data/GAS.xls")   ## Load the gas prices database

#Column selection
df_gas= file.parse('Data 1', header=2, ncolumns=2) # Parse the file, saving as our database
df_gas = df_gas[['Date', 'Weekly U.S. All Grades All Formulations Retail Gasoline Prices  (Dollars per Gallon)']]
df_gas = df_gas.rename(index=str, columns={"Weekly U.S. All Grades All Formulations Retail Gasoline Prices  (Dollars per Gallon)": "gas_price"})
df_gas['Date'] = df_gas.Date + pd.offsets.MonthBegin(1) #setting date from the 15th to the 1st

#Stocks
df_dji = df_dji[['Date', 'Close']]
df_sp500 = df_sp500[['Date', 'Close']]

#Dropping NaN values
df_gas.dropna(axis=0, inplace=True)
df_sp500.dropna(axis=0, inplace=True)
df_dji.dropna(axis=0, inplace=True)

#Converting dates from string to datetime
df_dji['Date'] = pd.to_datetime(df_dji.Date)
df_sp500['Date'] = pd.to_datetime(df_sp500.Date)

#merging
#df = df_dji.merge(df_sp500, how='inner', on='Date')
#df = df.merge(df_gas, how='inner', on='Date')

print(len(df_sp500))

17441

In [8]:
df_sp500

            Date        Close
0     1950-01-03    16.660000
1     1950-01-04    16.850000
2     1950-01-05    16.930000
3     1950-01-06    16.980000
4     1950-01-09    17.080000
5     1950-01-10    17.030001
6     1950-01-11    17.090000
7     1950-01-12    16.760000
8     1950-01-13    16.670000
9     1950-01-16    16.719999
10    1950-01-17    16.860001
11    1950-01-18    16.850000
12    1950-01-19    16.870001
13    1950-01-20    16.900000
14    1950-01-23    16.920000
15    1950-01-24    16.860001
16    1950-01-25    16.740000
17    1950-01-26    16.730000
18    1950-01-27    16.820000
19    1950-01-30    17.020000
20    1950-01-31    17.049999
21    1950-02-01    17.049999
22    1950-02-02    17.230000
23    1950-02-03    17.290001
24    1950-02-06    17.320000
25    1950-02-07    17.230000
26    1950-02-08    17.209999
27    1950-02-09    17.280001
28    1950-02-10    17.240000
29    1950-02-14    17.059999
...          ...          ...
17411 2019-03-15  2822.479980
17412 2019-03-18  2832.939941
17413 2019-03-19  2832.570068
17414 2019-03-20  2824.229980
17415 2019-03-21  2854.879883
17416 2019-03-22  2800.709961
17417 2019-03-25  2798.360107
17418 2019-03-26  2818.459961
17419 2019-03-27  2805.370117
17420 2019-03-28  2815.439941
17421 2019-03-29  2834.399902
17422 2019-04-01  2867.189941
17423 2019-04-02  2867.239990
17424 2019-04-03  2873.399902
17425 2019-04-04  2879.389893
17426 2019-04-05  2892.739990
17427 2019-04-08  2895.770020
17428 2019-04-09  2878.199951
17429 2019-04-10  2888.209961
17430 2019-04-11  2888.320068
17431 2019-04-12  2907.409912
17432 2019-04-15  2905.580078
17433 2019-04-16  2907.060059
17434 2019-04-17  2900.449951
17435 2019-04-18  2905.030029
17436 2019-04-22  2907.969971
17437 2019-04-23  2933.679932
17438 2019-04-24  2927.250000
17439 2019-04-25  2926.169922
17440 2019-04-26  2939.879883

[17441 rows x 2 columns]

In [9]:
file = pd.ExcelFile("data/GAS.xls")   ## Load the gas prices database

#Column selection
df_gas= file.parse('Data 1', header=2, ncolumns=2) # Parse the file, saving as our database

In [10]:
df_gas = df_gas[['Date', 'Weekly U.S. All Grades All Formulations Retail Gasoline Prices  (Dollars per Gallon)']]

In [11]:
df_gas = df_gas.rename(index=str, columns={"Weekly U.S. All Grades All Formulations Retail Gasoline Prices  (Dollars per Gallon)": "gas_price"})

In [12]:
len(df_dji)

8636